@import "tailwindcss";

/* BASE STYLES */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter), -apple-system, sans-serif;
  letter-spacing: -0.2px;
  font-weight: 600;
  line-height: 1.2;
}

.prose-custom p {
  margin-bottom: 1rem;
  line-height: 1.65;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
